In [26]:
import numpy as np
import pandas as pd
import math
import random
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [27]:
subj_y = np.load("../pancan_subjids/pancan_subj.npy")
print(len(subj_y), subj_y[3])
subj_n = np.load("../pancan_subjids/safe_subj.npy")
print(len(subj_n), subj_n[3])

1469 12060216
1728 14157802

In [28]:
thresholds = dict()
thresholds['procedures_icd'] = 25
thresholds['medication_ndc'] = 200
thresholds['lab_chart'] = 100

In [29]:
def get_reindexed(df, column, threshold):
    mapping = dict()
    counts = dict()
    for i in range(len(df)):
        if(df[column][i] not in counts):
            counts[df[column][i]] = 0
        else:
            counts[df[column][i]] +=1
    for i in range(len(df)):
        if((df[column][i] not in mapping) and (counts[df[column][i]]>=threshold)):
            mapping[df[column][i]] = len(mapping)
    counts = dict(sorted(counts.items(), key=lambda item: item[1]))
    print("CURRENT LENGTH IS:", len(mapping))
    print("TOTAL LENGTH WOULD HAVE BEEN:", len(counts))
    return mapping, counts

## PATIENTS

In [30]:
patient_df = pd.read_csv("../../raw/patients.csv").drop(["anchor_age", 'anchor_year',
                                                    'anchor_year_group', 'dod'], axis=1)
patient_df = patient_df.drop_duplicates(subset='subject_id', keep='last').reset_index(drop=True)
gender_mapping = {'M': 0, 'F': 1}
patient_df['GENDER'] = patient_df['gender'].map(gender_mapping)

label = []
for i in range(len(patient_df)):
    subjid = patient_df["subject_id"][i]
    if(subjid in subj_y):
        label.append(1)
    elif(subjid in subj_n):
        label.append(0)
    else:
        label.append(2)
        
patient_df['PANCAN'] = label  
patient_df = patient_df[patient_df['PANCAN'] != 2]
patient_df = patient_df.drop("gender", axis=1).reset_index(drop=True)
patient_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
print(len(patient_df))
patient_df.head()

3197

   SUBJECT_ID  GENDER  PANCAN
0    10002760       0       0
1    10005866       0       0
2    10006029       0       1
3    10006431       1       1
4    10014234       0       1

## PROCEDURES

In [31]:
procedure_df = pd.read_csv("../../raw/procedures_icd.csv")
procedure_df['ICD_CODE'] = procedure_df['icd_code'] + '_' + procedure_df['icd_version'].astype('str')
procedure_df = procedure_df.drop(['hadm_id', 'seq_num', 'chartdate', 'icd_code', 'icd_version'], axis=1)
procedure_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
print(len(procedure_df))
procedure_df = procedure_df[procedure_df['SUBJECT_ID'].isin(subj_y) | procedure_df['SUBJECT_ID'].isin(subj_n)].reset_index(drop=True)
print(len(procedure_df))
procedure_df.head()

669186
17687

   SUBJECT_ID    ICD_CODE
0    10002760      3522_9
1    10002760      3961_9
2    10005866  0WJP0ZZ_10
3    10005866  0D9630Z_10
4    10005866  0D963ZX_10

In [32]:
icd_codes_mapping, icd_codes_counts = get_reindexed(procedure_df, 'ICD_CODE', thresholds['procedures_icd'])
print(icd_codes_mapping)

CURRENT LENGTH IS: 137
TOTAL LENGTH WOULD HAVE BEEN: 2403
{'3961_9': 0, '02HV33Z_10': 1, '0DJ08ZZ_10': 2, '3E0G76Z_10': 3, '0W9G3ZX_10': 4, '0W9G3ZZ_10': 5, '5A1935Z_10': 6, '0BH17EZ_10': 7, '0DH63UZ_10': 8, '0FPB8DZ_10': 9, '0F798DZ_10': 10, '0FB98ZX_10': 11, 'BF10YZZ_10': 12, '5211_9': 13, '3950_9': 14, '4513_9': 15, '8874_9': 16, '4443_9': 17, '8847_9': 18, '8848_9': 19, '3893_9': 20, '3897_9': 21, '0045_9': 22, '0040_9': 23, '9672_9': 24, '9604_9': 25, '5293_9': 26, '5187_9': 27, '5185_9': 28, '3E04305_10': 29, '0W9G30Z_10': 30, '0FT40ZZ_10': 31, '0FBG0ZZ_10': 32, '0DB90ZZ_10': 33, '0FBG4ZX_10': 34, '0DT90ZZ_10': 35, '00HU33Z_10': 36, '0331_9': 37, '9671_9': 38, '5A1221Z_10': 39, '527_9': 40, '5114_9': 41, '3E0436Z_10': 42, '0FC98ZZ_10': 43, '3723_9': 44, '8856_9': 45, '0FBG8ZX_10': 46, '5A1945Z_10': 47, '0F9530Z_10': 48, '0F2BX0Z_10': 49, '741_9': 50, '0F9430Z_10': 51, '5421_9': 52, '02100Z9_10': 53, '8938_9': 54, '3899_9': 55, '8838_9': 56, '5011_9': 57, '4516_9': 58, '4523_9': 59, '0066_9': 60, '3722_9': 61, '3E0T3TZ_10': 62, '0309_9': 63, '5491_9': 64, '966_9': 65, '3491_9': 66, '8607_9': 67, '9925_9': 68, '7569_9': 69, '0390_9': 70, '0FD98ZX_10': 71, '0W9930Z_10': 72, '5123_9': 73, '3615_9': 74, '8952_9': 75, '8744_9': 76, '3734_9': 77, '5122_9': 78, 'B211YZZ_10': 79, '10E0XZZ_10': 80, '0FB03ZX_10': 81, '07BB0ZZ_10': 82, '3995_9': 83, '3895_9': 84, '5110_9': 85, '9915_9': 86, '5459_9': 87, '3404_9': 88, '8842_9': 89, '8604_9': 90, '3324_9': 91, '3E0H76Z_10': 92, '8E0W4CZ_10': 93, '9755_9': 94, '9705_9': 95, '415_9': 96, '0DB98ZX_10': 97, '5212_9': 98, '5012_9': 99, '4011_9': 100, '4439_9': 101, '4639_9': 102, '5198_9': 103, '8751_9': 104, '8754_9': 105, '0F793DZ_10': 106, '8162_9': 107, '5252_9': 108, '0D798DZ_10': 109, '9904_9': 110, '0FB13ZX_10': 111, '3E03305_10': 112, '0WJG4ZZ_10': 113, '5101_9': 114, '5188_9': 115, '9229_9': 116, '0W9B30Z_10': 117, '3891_9': 118, '8872_9': 119, '02H633Z_10': 120, '0DJD8ZZ_10': 121, '0F7D8DZ_10': 122, '5014_9': 123, '9227_9': 124, '0FB90ZZ_10': 125, '5137_9': 126, '0DB60ZZ_10': 127, '9427_9': 128, '4525_9': 129, '5A1955Z_10': 130, '3607_9': 131, '5A1D70Z_10': 132, '0F9930Z_10': 133, '8191_9': 134, '5A1D60Z_10': 135, '9962_9': 136}

In [33]:
procedure_grouped_df = procedure_df.groupby('SUBJECT_ID')['ICD_CODE'].agg(list).reset_index()
procedure_grouped_df['ICD_FEATURES'] = None

for i in range(len(procedure_grouped_df)):
    feature_vec = np.zeros(len(icd_codes_mapping), dtype=int)
    codes = list(set(procedure_grouped_df["ICD_CODE"][i]))
    for code in codes:
        if(icd_codes_counts[code]>=thresholds['procedures_icd']):
            index = icd_codes_mapping[code]
            feature_vec[index] = 1
    procedure_grouped_df['ICD_FEATURES'][i] = list(feature_vec)
print(len(procedure_grouped_df))
procedure_grouped_df.head()

2518

,SUBJECT_ID,ICD_CODE,ICD_FEATURES
0,10002760,"[3522_9, 3961_9]","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10005866,"[0WJP0ZZ_10, 0D9630Z_10, 0D963ZX_10, 3E0336Z_1...","[0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,10006029,"[0DH63UZ_10, 0FPB8DZ_10, 0F798DZ_10, 0FB98ZX_1...","[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, ..."
3,10006431,"[3E0T3GC_10, 0FBG3ZX_10, 0FPB8DZ_10, 0F798DZ_1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ..."
4,10019777,"[5211_9, 3950_9, 3979_9, 4444_9, 4513_9, 8874_...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."

In [34]:
index = 4
lista = []
listb = []
for i in range(len(procedure_grouped_df['ICD_FEATURES'][index])):
    if(procedure_grouped_df['ICD_FEATURES'][index][i]==1):
        lista.append(i)

for key in procedure_grouped_df['ICD_CODE'][index]:
    if(key in icd_codes_mapping):
        listb.append(icd_codes_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
[13, 14, 15, 16, 17, 15, 18, 19, 18, 20, 18, 21, 21, 22, 23, 24, 25]
True

## MEDICATION

In [35]:
med_df = pd.read_csv("../../raw/prescriptions.csv").drop(['hadm_id', 'pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route'], axis=1)
med_df.head()

   subject_id           ndc
0    10000032  9.041989e+08
1    10000032  0.000000e+00
2    10000032  5.107901e+10
3    10000032  6.022761e+06
4    10000032  6.332303e+10

In [36]:
medication_df = med_df.copy()
medication_df = medication_df.fillna(0).astype(int)
medication_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
medication_df.rename(columns={'ndc': 'NDC'}, inplace=True)
print(len(medication_df))
medication_df = medication_df[medication_df['SUBJECT_ID'].isin(subj_y) | medication_df['SUBJECT_ID'].isin(subj_n)].reset_index(drop=True)
print(len(medication_df))
medication_df.head()

15416708
384600

   SUBJECT_ID        NDC
0    10002760  409126130
1    10002760  409379501
2    10002760  517570425
3    10002760  121065721
4    10002760   56017275

In [37]:
ndc_mapping, ndc_counts = get_reindexed(medication_df, 'NDC', thresholds['medication_ndc'])
print(ndc_mapping)

CURRENT LENGTH IS: 315
TOTAL LENGTH WOULD HAVE BEEN: 3517
{517570425: 0, 121065721: 1, 56017275: 2, 0: 3, 338001702: 4, 63739027201: 5, 781305714: 6, 409672924: 7, 54839224: 8, 74241612: 9, 182844789: 10, 10019016312: 11, 51079025520: 12, 409125830: 13, 56017075: 14, 409176230: 15, 121054410: 16, 51079045620: 17, 54569523500: 18, 56016975: 19, 904526161: 20, 63323026965: 21, 703450204: 22, 338004938: 23, 55390000401: 24, 338011704: 25, 904224461: 26, 904404073: 27, 713016550: 28, 338070341: 29, 2821501: 30, 409490234: 31, 58177020211: 32, 61553008348: 33, 574705050: 34, 338008504: 35, 206886202: 36, 409128331: 37, 338004903: 38, 409729501: 39, 63323010605: 40, 904272561: 41, 61553005148: 42, 121197100: 43, 63323026201: 44, 63323061603: 45, 59011041020: 46, 338004902: 47, 409610202: 48, 121483940: 49, 25021067376: 50, 121457735: 51, 43825010201: 52, 904644461: 53, 338070948: 54, 409610204: 55, 944049505: 56, 904054460: 57, 641607825: 58, 409471332: 59, 591352530: 60, 944049302: 61, 61553020648: 62, 60258000601: 63, 904053061: 64, 59011042020: 65, 8290306525: 66, 338355248: 67, 51079007220: 68, 64980010401: 69, 32909071503: 70, 11523726808: 71, 51079096620: 72, 904645561: 73, 641612525: 74, 264958720: 75, 49281041688: 76, 338001703: 77, 409665305: 78, 536338101: 79, 338067104: 80, 8092360: 81, 409475503: 82, 338519741: 83, 603155404: 84, 66758016013: 85, 338004304: 86, 338004904: 87, 8084199: 88, 338008904: 89, 76329301205: 90, 67467064301: 91, 406055262: 92, 8092355: 93, 406717162: 94, 338105548: 95, 338055318: 96, 51079007320: 97, 904504260: 98, 944049301: 99, 66553000401: 100, 50383077933: 101, 338630403: 102, 76439034310: 103, 63323096520: 104, 49281041550: 105, 487980125: 106, 37205011278: 107, 409427601: 108, 60505068104: 109, 264310511: 110, 338001704: 111, 409662502: 112, 904516561: 113, 904568461: 114, 2751001: 115, 88222033: 116, 8290306513: 117, 904640161: 118, 8290306510: 119, 60505251903: 120, 38396055018: 121, 597026010: 122, 904673061: 123, 54817525: 124, 536242558: 125, 63323016501: 126, 338001738: 127, 63323001302: 128, 8290306424: 129, 338004911: 130, 70860077602: 131, 68084035401: 132, 409198530: 133, 23155029442: 134, 68084007001: 135, 904677361: 136, 42292000120: 137, 63739049910: 138, 51079052420: 139, 51079068420: 140, 904198861: 141, 904652261: 142, 51079075920: 143, 54162000708: 144, 23050601: 145, 409707714: 146, 121043130: 147, 57896045208: 148, 57896042101: 149, 64253033335: 150, 406324301: 151, 68016001129: 152, 63739035810: 153, 32121201: 154, 6494300: 155, 54162055007: 156, 409189001: 157, 51079098320: 158, 51079041720: 159, 51079069020: 160, 50242004164: 161, 51079054220: 162, 409665106: 163, 182050789: 164, 172375810: 165, 6473900: 166, 186109239: 167, 51991045757: 168, 49502069724: 169, 51079038620: 170, 54868003404: 171, 487020101: 172, 61553011841: 173, 406833062: 174, 50242004413: 175, 904598061: 176, 904399061: 177, 406831562: 178, 409433201: 179, 904623561: 180, 66685100101: 181, 245004101: 182, 641608025: 183, 58177029311: 184, 49281001350: 185, 173068224: 186, 74518211: 187, 904198261: 188, 51079088120: 189, 66689040150: 190, 641037625: 191, 75062040: 192, 74455211: 193, 338001731: 194, 641092825: 195, 904647461: 196, 409131230: 197, 338012504: 198, 409477702: 199, 409781124: 200, 74662411: 201, 59011044225: 202, 574027511: 203, 121176130: 204, 409672923: 205, 406051262: 206, 487950101: 207, 63323061401: 208, 63739035410: 209, 3089431: 210, 63323031119: 211, 904628889: 212, 51079045120: 213, 641607325: 214, 51079000220: 215, 206885216: 216, 68084034701: 217, 63323031461: 218, 51079020520: 219, 187170405: 220, 781207601: 221, 173071920: 222, 904582460: 223, 338105102: 224, 8290036005: 225, 63481068706: 226, 182864389: 227, 409792337: 228, 74233411: 229, 182845389: 230, 182178989: 231, 51079008620: 232, 904150061: 233, 51079012620: 234, 10432017002: 235, 310032520: 236, 338500241: 237, 409915801: 238, 904530661: 239, 63323031110: 240, 60505260400: 241, 904642281: 242, 2831501: 243, 68084025901: 244, 63323049289: 245, 409739172: 246, 597007575: 247, 93521193: 248, 63653117103: 249, 456066270: 250, 63739002401: 251, 603385521: 252, 51079045420: 253, 33332001201: 254, 51079090620: 255, 517571025: 256, 17478093401: 257, 54848616: 258, 338004931: 259, 55390034810: 260, 19515090941: 261, 2871501: 262, 42858030125: 263, 63323054011: 264, 61553012011: 265, 51079029420: 266, 904627761: 267, 173069604: 268, 517570225: 269, 409177805: 270, 62584026501: 271, 904585461: 272, 19515089452: 273, 69543037910: 274, 143987310: 275, 55390007710: 276, 51079010520: 277, 54001820: 278, 338358048: 279, 409610210: 280, 56017675: 281, 60505082901: 282, 49999002812: 283, 245005301: 284, 33332001001: 285, 172531210: 286, 51079097220: 287, 10019017644: 288, 54023524: 289, 378003201: 290, 172438210: 291, 641040012: 292, 68084052401: 293, 51079028520: 294, 409779362: 295, 75062280: 296, 66553000801: 297, 121174410: 298, 54872425: 299, 172376010: 300, 904634061: 301, 62584089701: 302, 51079080120: 303, 338080704: 304, 71015892: 305, 63323047401: 306, 68084053901: 307, 904580961: 308, 68084008901: 309, 182116189: 310, 63323036920: 311, 55390007310: 312, 68084065901: 313, 169750111: 314}

In [38]:
med_grouped_df = medication_df.groupby('SUBJECT_ID')['NDC'].agg(list).reset_index()
med_grouped_df['NDC_FEATURES'] = None

for i in range(len(med_grouped_df)):
    feature_vec = np.zeros(len(ndc_mapping), dtype=int)
    codes = list(set(med_grouped_df["NDC"][i]))
    for code in codes:
        if(ndc_counts[code]>=thresholds['medication_ndc']):
            index = ndc_mapping[code]
            feature_vec[index] = 1
    med_grouped_df['NDC_FEATURES'][i] = list(feature_vec)
print(len(med_grouped_df))
med_grouped_df.head()

2982

,SUBJECT_ID,NDC,NDC_FEATURES
0,10002760,"[409126130, 409379501, 517570425, 121065721, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,10005866,"[338008504, 36000003310, 0, 206886202, 4091283...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ..."
2,10006029,"[338004904, 904568461, 2751001, 88222033, 9046...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,10006431,"[0, 409707714, 574705050, 59011041020, 4091283...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,10014234,"[182050789, 597008717, 406055262, 63323026201,...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [39]:
index = 2
lista = []
listb = []
for i in range(len(med_grouped_df['NDC_FEATURES'][index])):
    if(med_grouped_df['NDC_FEATURES'][index][i]==1):
        lista.append(i)

for key in med_grouped_df['NDC'][index]:
    if(key in ndc_mapping):
        listb.append(ndc_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[3, 25, 30, 31, 35, 37, 43, 44, 50, 63, 64, 71, 87, 89, 96, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145]
[87, 114, 115, 116, 117, 64, 118, 119, 120, 121, 122, 31, 123, 3, 115, 124, 63, 119, 125, 89, 25, 50, 3, 116, 118, 126, 126, 116, 87, 116, 121, 25, 116, 44, 127, 128, 129, 64, 130, 131, 25, 89, 132, 115, 115, 133, 114, 115, 115, 133, 37, 134, 122, 3, 133, 37, 135, 31, 131, 136, 115, 120, 124, 118, 3, 122, 25, 137, 3, 121, 138, 139, 71, 140, 3, 116, 141, 25, 142, 119, 30, 3, 116, 143, 43, 25, 64, 96, 30, 87, 31, 144, 140, 3, 118, 138, 116, 35, 25, 121, 140, 145, 44, 122, 30, 31, 35]
True

## LAB

In [78]:
large_csv_path = "./raw/labevents.csv"
chunk_size = 5000000
reader = pd.read_csv(large_csv_path, chunksize=chunk_size)
chunk = next(reader, None)
chunk = chunk.drop(['labevent_id', 'hadm_id', 'specimen_id',
       'order_provider_id', 'charttime', 'storetime', 'value',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'], axis=1)
labevents_df = pd.DataFrame(columns=chunk.columns)
reader = pd.read_csv(large_csv_path, chunksize=chunk_size)
i = 0
while True:
    chunk = next(reader, None)
    if chunk is not None:
        print(f'Reading Chunk {i + 1}')
        chunk = chunk.drop(['labevent_id', 'hadm_id', 'specimen_id',
       'order_provider_id', 'charttime', 'storetime', 'value',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments'], axis=1)[chunk['subject_id'].isin(subj_y) | chunk['subject_id'].isin(subj_n)].reset_index(drop=True)
        labevents_df = labevents_df.append(chunk, ignore_index=True)
        print(len(labevents_df))
    else:
        print('Finished processing the CSV file.')
        break
    i +=1
labevents_df.to_csv("./raw/labevents_final.csv")

Reading Chunk 1
104217
Reading Chunk 2
217932
Reading Chunk 3
358823
Reading Chunk 4
452866
Reading Chunk 5
597572
Reading Chunk 6
703090
Reading Chunk 7
792607
Reading Chunk 8
911729
Reading Chunk 9
1043601
Reading Chunk 10
1172725
Reading Chunk 11
1265264
Reading Chunk 12
1386686
Reading Chunk 13
1513681
Reading Chunk 14
1634936
Reading Chunk 15
1797965
Reading Chunk 16
1916693
Reading Chunk 17
2028970
Reading Chunk 18
2156685
Reading Chunk 19
2304349
Reading Chunk 20
2446083
Reading Chunk 21
2559053
Reading Chunk 22
2658386
Reading Chunk 23
2773917
Reading Chunk 24
2862584
Finished processing the CSV file.

In [6]:
labevents_df = pd.read_csv("../../raw/labevents_final.csv").drop("Unnamed: 0", axis=1)
labevents_df.head()

   subject_id  itemid  valuenum
0    10002760   50861      16.0
1    10002760   50862       4.2
2    10002760   50863      48.0
3    10002760   50867      63.0
4    10002760   50868      11.0

In [7]:
print(len(set(list(labevents_df['subject_id']))))
lab_df = labevents_df.copy()
lab_df.rename(columns={'subject_id': 'SUBJECT_ID'}, inplace=True)
lab_df.rename(columns={'itemid': 'CHART_ITEMID'}, inplace=True)
lab_df.rename(columns={'valuenum': 'CHART_VALUENUM'}, inplace=True)
display(lab_df)

3166

         SUBJECT_ID  CHART_ITEMID  CHART_VALUENUM
0          10002760         50861            16.0
1          10002760         50862             4.2
2          10002760         50863            48.0
3          10002760         50867            63.0
4          10002760         50868            11.0
...             ...           ...             ...
2862579    19999784         50912             1.0
2862580    19999784         50934            14.0
2862581    19999784         50947             1.0
2862582    19999784         51006            15.0
2862583    19999784         51678            12.0

[2862584 rows x 3 columns]

In [10]:
chart_mapping, chart_counts = get_reindexed(lab_df, 'CHART_ITEMID', thresholds['lab_chart'])

CURRENT LENGTH IS: 329
TOTAL LENGTH WOULD HAVE BEEN: 785

In [11]:
chart_items = dict()
chart_items_mean = dict()
chart_items_std = dict()

for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        if(itemid not in chart_items):
            chart_items[itemid] = []
        chart_items[itemid].append(lab_df["CHART_VALUENUM"][i])
        
for item in chart_items:
    chart_items_mean[item] = np.mean(np.array(chart_items[item]))
    chart_items_std[item]  = np.std(np.array(chart_items[item]))
    
print(len(chart_items), len(chart_items_mean), len(chart_items_std))

329 329 329

In [12]:
lab_df['CHART'] = None
for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        value = lab_df["CHART_VALUENUM"][i]
        mean = chart_items_mean[itemid]
        std = chart_items_std[itemid]
        if(value > (mean+std)):
            lab_df['CHART'][i] = str(itemid)+":HIGH"
        elif(value < (mean-std)):
            lab_df['CHART'][i] = str(itemid)+":LOW"
        else:
            lab_df['CHART'][i] = str(itemid)+":MED"
print(len(lab_df))
lab_df.head()

2862584

   SUBJECT_ID  CHART_ITEMID  CHART_VALUENUM      CHART
0    10002760         50861            16.0  50861:MED
1    10002760         50862             4.2  50862:MED
2    10002760         50863            48.0  50863:MED
3    10002760         50867            63.0  50867:MED
4    10002760         50868            11.0  50868:MED

In [13]:
lab_df = lab_df.dropna(subset=['CHART']).reset_index(drop=True).drop(columns=['CHART_ITEMID', 'CHART_VALUENUM'], axis=1)
print(len(lab_df))
lab_df.head()

2853636

   SUBJECT_ID      CHART
0    10002760  50861:MED
1    10002760  50862:MED
2    10002760  50863:MED
3    10002760  50867:MED
4    10002760  50868:MED

In [15]:
chart_final_mapping, chart_final_counts = get_reindexed(lab_df, 'CHART', 0)
print(chart_final_mapping)

CURRENT LENGTH IS: 430
TOTAL LENGTH WOULD HAVE BEEN: 430
{'50861:MED': 0, '50862:MED': 1, '50863:MED': 2, '50867:MED': 3, '50868:MED': 4, '50878:MED': 5, '50882:MED': 6, '50885:MED': 7, '50902:MED': 8, '50912:MED': 9, '50920:MED': 10, '50930:MED': 11, '50954:MED': 12, '50971:MED': 13, '50976:MED': 14, '50983:MED': 15, '51006:MED': 16, '51221:MED': 17, '51222:MED': 18, '51248:MED': 19, '51249:MED': 20, '51250:MED': 21, '51265:MED': 22, '51277:MED': 23, '51279:MED': 24, '51301:MED': 25, '51237:MED': 26, '51274:MED': 27, '51275:MED': 28, '50852:MED': 29, '51613:MED': 30, '50931:MED': 31, '51464:MED': 32, '51466:MED': 33, '51478:MED': 34, '51484:MED': 35, '51486:MED': 36, '51487:MED': 37, '51491:MED': 38, '51492:MED': 39, '51498:MED': 40, '51506:MED': 41, '51508:MED': 42, '51514:MED': 43, '50802:MED': 44, '50804:MED': 45, '50806:MED': 46, '50808:MED': 47, '50809:MED': 48, '50810:HIGH': 49, '50811:HIGH': 50, '50812:MED': 51, '50813:MED': 52, '50818:MED': 53, '50820:MED': 54, '50821:MED': 55, '50822:MED': 56, '50824:MED': 57, '50828:MED': 58, '50810:MED': 59, '50811:MED': 60, '52033:MED': 61, '51214:MED': 62, '50817:MED': 63, '50868:LOW': 64, '50960:MED': 65, '50956:MED': 66, '51146:MED': 67, '51200:MED': 68, '51244:MED': 69, '51254:MED': 70, '51256:MED': 71, '50887:MED': 72, '50893:MED': 73, '50970:MED': 74, '51116:MED': 75, '51118:MED': 76, '51120:MED': 77, '51125:MED': 78, '51127:MED': 79, '52065:MED': 80, '51133:MED': 81, '52069:MED': 82, '52073:MED': 83, '52074:MED': 84, '52075:MED': 85, '52135:MED': 86, '52172:MED': 87, '50883:MED': 88, '50884:MED': 89, '50816:MED': 90, '50819:MED': 91, '50825:MED': 92, '50826:MED': 93, '50827:MED': 94, '50826:HIGH': 95, '51266:MED': 96, '51463:MED': 97, '51476:MED': 98, '51493:MED': 99, '51512:MED': 100, '51516:MED': 101, '51519:MED': 102, '51117:LOW': 103, '51009:MED': 104, '50924:MED': 105, '50952:MED': 106, '50953:LOW': 107, '50998:MED': 108, '50864:MED': 109, '50856:MED': 110, '50879:MED': 111, '50880:MED': 112, '50910:MED': 113, '50922:MED': 114, '50934:MED': 115, '50947:MED': 116, '50981:MED': 117, '50999:MED': 118, '51678:MED': 119, '50955:MED': 120, '51087:MED': 121, '51107:MED': 122, '51103:MED': 123, '50930:HIGH': 124, '50868:HIGH': 125, '51082:MED': 126, '51093:MED': 127, '51100:MED': 128, '51104:MED': 129, '51501:MED': 130, '50835:MED': 131, '50842:MED': 132, '50843:MED': 133, '50849:MED': 134, '51117:MED': 135, '51123:MED': 136, '50933:MED': 137, '51469:MED': 138, '50836:MED': 139, '50838:MED': 140, '51117:HIGH': 141, '51003:MED': 142, '50810:LOW': 143, '50811:LOW': 144, '50911:MED': 145, '51000:MED': 146, '50993:MED': 147, '50995:MED': 148, '50979:MED': 149, '50919:MED': 150, '51257:MED': 151, '50873:MED': 152, '50876:MED': 153, '50903:MED': 154, '50904:MED': 155, '50905:MED': 156, '50907:MED': 157, '50925:MED': 158, '50935:MED': 159, '50940:MED': 160, '50941:MED': 161, '50942:MED': 162, '50943:MED': 163, '50949:MED': 164, '50950:MED': 165, '50951:MED': 166, '50953:MED': 167, '51010:MED': 168, '51657:MED': 169, '51658:MED': 170, '51659:MED': 171, '51663:MED': 172, '51282:MED': 173, '51283:MED': 174, '50900:MED': 175, '51137:MED': 176, '51143:MED': 177, '51144:MED': 178, '51233:MED': 179, '51246:MED': 180, '51251:MED': 181, '51252:MED': 182, '51255:MED': 183, '51267:MED': 184, '51268:MED': 185, '51296:MED': 186, '51145:MED': 187, '51255:HIGH': 188, '51269:MED': 189, '51260:MED': 190, '51839:MED': 191, '52171:MED': 192, '51287:MED': 193, '51462:MED': 194, '51482:MED': 195, '52111:MED': 196, '51134:MED': 197, '51144:HIGH': 198, '51292:MED': 199, '50866:MED': 200, '50825:HIGH': 201, '52023:MED': 202, '51147:MED': 203, '51513:MED': 204, '50853:MED': 205, '51071:MED': 206, '51074:MED': 207, '51075:MED': 208, '51079:MED': 209, '51090:MED': 210, '51092:MED': 211, '51989:MED': 212, '51294:MED': 213, '51732:MED': 214, '51733:MED': 215, '51734:MED': 216, '51735:MED': 217, '51736:MED': 218, '51737:MED': 219, '52004:MED': 220, '52005:LOW': 221, '52006:MED': 222, '52007:MED': 223, '52008:MED': 224, '52009:HIGH': 225, '52010:MED': 226, '51564:MED': 227, '53153:MED': 228, '51706:MED': 229, '50965:MED': 230, '50871:MED': 231, '50907:HIGH': 232, '50953:HIGH': 233, '51865:MED': 234, '51873:MED': 235, '50889:MED': 236, '50927:MED': 237, '51007:MED': 238, '51579:MED': 239, '50874:MED': 240, '50963:MED': 241, '51446:MED': 242, '51447:MED': 243, '51450:MED': 244, '51453:MED': 245, '51455:MED': 246, '51457:MED': 247, '52391:MED': 248, '51051:HIGH': 249, '51053:MED': 250, '51054:MED': 251, '51059:HIGH': 252, '50831:MED': 253, '51046:MED': 254, '51085:MED': 255, '52004:HIGH': 256, '52005:MED': 257, '52009:MED': 258, '51613:HIGH': 259, '51790:MED': 260, '51802:MED': 261, '52264:MED': 262, '52272:MED': 263, '52281:MED': 264, '52285:MED': 265, '52286:MED': 266, '50816:LOW': 267, '50877:MED': 268, '51078:MED': 269, '51097:MED': 270, '51288:MED': 271, '50915:MED': 272, '51218:MED': 273, '50895:MED': 274, '50896:MED': 275, '50994:MED': 276, '51001:MED': 277, '51005:MED': 278, '51069:MED': 279, '51070:MED': 280, '51518:MED': 281, '50905:HIGH': 282, '50906:MED': 283, '50903:HIGH': 284, '50907:LOW': 285, '51737:LOW': 286, '52004:LOW': 287, '50909:MED': 288, '51197:MED': 289, '51219:MED': 290, '50905:LOW': 291, '50930:LOW': 292, '50937:MED': 293, '51660:MED': 294, '51663:HIGH': 295, '50964:HIGH': 296, '50815:MED': 297, '51229:MED': 298, '51752:MED': 299, '50803:MED': 300, '51259:MED': 301, '51098:MED': 302, '51102:MED': 303, '50975:MED': 304, '51216:MED': 305, '50964:MED': 306, '51099:MED': 307, '51497:MED': 308, '51737:HIGH': 309, '50948:MED': 310, '50884:HIGH': 311, '50908:MED': 312, '50908:HIGH': 313, '51231:MED': 314, '50917:MED': 315, '51130:MED': 316, '51131:MED': 317, '51132:MED': 318, '51176:MED': 319, '51180:MED': 320, '51181:MED': 321, '51194:MED': 322, '51245:MED': 323, '51300:MED': 324, '52769:MED': 325, '51089:MED': 326, '51245:LOW': 327, '51059:MED': 328, '51448:MED': 329, '50831:HIGH': 330, '51474:MED': 331, '51213:MED': 332, '51479:MED': 333, '51143:HIGH': 334, '52425:MED': 335, '50831:LOW': 336, '51054:HIGH': 337, '50946:MED': 338, '51196:MED': 339, '51613:LOW': 340, '50974:MED': 341, '50932:MED': 342, '51236:MED': 343, '51067:MED': 344, '51094:MED': 345, '51108:MED': 346, '50996:MED': 347, '50964:LOW': 348, '51051:MED': 349, '50825:LOW': 350, '52036:MED': 351, '50988:MED': 352, '51094:LOW': 353, '50986:MED': 354, '50950:HIGH': 355, '51625:HIGH': 356, '51626:MED': 357, '51627:MED': 358, '50881:HIGH': 359, '51625:MED': 360, '51245:HIGH': 361, '51051:LOW': 362, '51059:LOW': 363, '50967:MED': 364, '50801:MED': 365, '50816:HIGH': 366, '50823:MED': 367, '51659:LOW': 368, '51026:MED': 369, '50801:HIGH': 370, '50823:HIGH': 371, '50892:MED': 372, '50881:MED': 373, '51626:HIGH': 374, '50927:HIGH': 375, '51261:MED': 376, '51148:MED': 377, '51240:MED': 378, '50898:MED': 379, '50895:LOW': 380, '50896:HIGH': 381, '51005:HIGH': 382, '50801:LOW': 383, '50823:LOW': 384, '51736:HIGH': 385, '52008:HIGH': 386, '50815:HIGH': 387, '50908:LOW': 388, '52005:HIGH': 389, '52006:HIGH': 390, '51228:MED': 391, '50843:HIGH': 392, '51067:HIGH': 393, '51108:HIGH': 394, '51790:HIGH': 395, '50903:LOW': 396, '51118:HIGH': 397, '51148:HIGH': 398, '51008:MED': 399, '50914:MED': 400, '50950:LOW': 401, '51269:HIGH': 402, '50978:MED': 403, '50826:LOW': 404, '50819:HIGH': 405, '51259:HIGH': 406, '51123:HIGH': 407, '51300:HIGH': 408, '51802:HIGH': 409, '50819:LOW': 410, '52007:HIGH': 411, '51790:LOW': 412, '51736:LOW': 413, '52010:HIGH': 414, '52008:LOW': 415, '51094:HIGH': 416, '50895:HIGH': 417, '50896:LOW': 418, '51627:HIGH': 419, '51735:HIGH': 420, '50892:HIGH': 421, '51108:LOW': 422, '51657:HIGH': 423, '51005:LOW': 424, '50961:MED': 425, '50898:HIGH': 426, '51659:HIGH': 427, '51269:LOW': 428, '52769:HIGH': 429}

In [23]:
lab_grouped_df = lab_df.groupby('SUBJECT_ID')['CHART'].agg(list).reset_index()
lab_grouped_df['CHART_FEATURES'] = None

for i in range(len(lab_grouped_df)):
    feature_vec = np.zeros(len(chart_final_mapping), dtype=int)
    codes = list(set(lab_grouped_df["CHART"][i]))
    for code in codes:
        if(chart_final_counts[code]>=0):
            index = chart_final_mapping[code]
            feature_vec[index] = 1
    lab_grouped_df['CHART_FEATURES'][i] = list(feature_vec)
print(len(lab_grouped_df))
lab_grouped_df.head()

3166

,SUBJECT_ID,CHART,CHART_FEATURES
0,10002760,"[50861:MED, 50862:MED, 50863:MED, 50867:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,10005866,"[50861:MED, 50862:MED, 50863:MED, 50868:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ..."
2,10006029,"[50861:MED, 50863:MED, 50867:MED, 50878:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, ..."
3,10006431,"[51237:MED, 51274:MED, 51275:MED, 51221:MED, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,10014234,"[51265:MED, 51237:MED, 51274:MED, 51146:MED, 5...","[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, ..."

In [24]:
index = 2
lista = []
listb = []
for i in range(len(lab_grouped_df['CHART_FEATURES'][index])):
    if(lab_grouped_df['CHART_FEATURES'][index][i]==1):
        lista.append(i)

for key in lab_grouped_df['CHART'][index]:
    if(key in chart_final_mapping):
        listb.append(chart_final_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 52, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 81, 82, 83, 84, 85, 86, 87, 88, 89, 96, 105, 106, 107, 108, 113, 115, 116, 119, 120, 121, 125, 126, 128, 142, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193]
[0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 87, 31, 115, 116, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 149, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 96, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 0, 1, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 87, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 31, 115, 116, 119, 150, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 12, 66, 65, 13, 15, 147, 148, 16, 149, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 96, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 0, 2, 3, 5, 88, 89, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 26, 27, 28, 0, 1, 2, 152, 153, 5, 7, 154, 155, 156, 157, 113, 105, 158, 115, 159, 160, 161, 162, 163, 116, 164, 165, 166, 106, 167, 12, 108, 146, 142, 168, 169, 170, 171, 172, 119, 0, 1, 2, 4, 5, 6, 7, 8, 9, 31, 115, 116, 12, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 52, 26, 27, 28, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 1, 2, 4, 5, 6, 88, 89, 7, 73, 8, 9, 31, 115, 116, 12, 66, 65, 74, 13, 15, 16, 119, 0, 2, 3, 64, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 31, 115, 116, 119, 0, 2, 3, 5, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 13, 15, 147, 148, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 87, 31, 115, 116, 119, 0, 1, 2, 4, 5, 6, 88, 89, 7, 8, 9, 31, 115, 116, 66, 13, 15, 16, 119, 120, 72, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 52, 17, 18, 19, 20, 21, 22, 23, 24, 173, 174, 25, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 105, 31, 115, 159, 116, 106, 107, 12, 65, 74, 13, 15, 108, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 121, 128, 0, 2, 4, 5, 6, 7, 73, 8, 9, 10, 31, 115, 116, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 26, 27, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 0, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 26, 27, 0, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 3, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 66, 65, 74, 13, 15, 147, 148, 16, 119, 31, 115, 116, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 2, 3, 4, 5, 6, 7, 73, 175, 8, 9, 10, 31, 115, 116, 12, 66, 65, 74, 13, 15, 147, 148, 16, 119, 120, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 81, 176, 177, 178, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 183, 71, 151, 22, 96, 184, 185, 23, 24, 186, 25, 82, 83, 84, 85, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 81, 176, 177, 178, 187, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 188, 71, 151, 22, 96, 184, 185, 189, 23, 24, 186, 25, 82, 83, 84, 85, 87, 149, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 176, 177, 178, 187, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 183, 71, 22, 96, 184, 185, 23, 24, 186, 25, 82, 83, 84, 85, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 176, 177, 178, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 188, 71, 190, 22, 96, 184, 185, 23, 24, 186, 25, 82, 83, 84, 85, 87, 175, 158, 168, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 176, 177, 178, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 188, 71, 22, 96, 184, 185, 23, 24, 186, 25, 82, 83, 84, 85, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 81, 176, 177, 178, 67, 68, 17, 18, 179, 69, 180, 19, 20, 21, 181, 182, 70, 183, 71, 151, 22, 96, 184, 185, 23, 24, 186, 25, 82, 83, 84, 85, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 151, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 115, 116, 147, 148, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 22, 26, 27, 191, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 64, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 126, 121, 128, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4, 6, 73, 8, 9, 10, 31, 115, 159, 116, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 192, 87, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 4, 6, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 175, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 175, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 10, 115, 116, 12, 65, 74, 13, 15, 16, 119, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 115, 116, 12, 65, 74, 13, 15, 16, 119, 3, 115, 116, 66, 149, 119, 81, 176, 67, 68, 17, 18, 69, 19, 20, 21, 181, 70, 71, 22, 96, 184, 185, 23, 24, 193, 25, 82, 83, 84, 85, 192, 87, 0, 1, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 12, 65, 74, 13, 15, 16, 119, 26, 27, 28, 81, 67, 68, 17, 18, 69, 19, 20, 21, 70, 71, 22, 23, 24, 25, 82, 83, 84, 85, 86, 87, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 64, 5, 6, 7, 73, 8, 9, 31, 115, 116, 65, 74, 13, 15, 16, 119, 0, 2, 4, 5, 6, 7, 8, 9, 31, 115, 116, 12, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 4, 5, 6, 7, 73, 8, 9, 31, 115, 116, 12, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 125, 5, 6, 7, 8, 9, 10, 31, 115, 116, 12, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 125, 6, 8, 9, 31, 115, 116, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 125, 6, 8, 9, 31, 115, 116, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 4, 5, 6, 7, 73, 8, 9, 10, 31, 115, 116, 12, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87, 0, 2, 125, 5, 6, 7, 73, 8, 9, 31, 115, 116, 12, 65, 74, 13, 15, 16, 119, 17, 18, 19, 20, 21, 22, 23, 24, 25, 87]
True

## MERGE

In [41]:
encounter_dict = dict()
procedure_found = 0
med_found = 0
lab_found = 0
deleted = 0

for i in range(len(patient_df)): 
    
    procedure_flag = 0
    med_flag = 0
    lab_flag = 0
    
    subjid = patient_df["SUBJECT_ID"][i]
    
    key = str(subjid)
    encounter_dict[key] = dict()
    
    encounter_dict[key]["GENDER"] = patient_df["GENDER"][i]
    
    encounter_dict[key]['Procedures_ICD_Features'] = np.zeros(len(icd_codes_mapping), dtype=int)
    encounter_dict[key]['Medication_NDC_Features'] = np.zeros(len(ndc_mapping), dtype=int)
    encounter_dict[key]['Lab_Chart_Features'] = np.zeros(len(chart_final_mapping), dtype=int)
    
    encounter_dict[key]['PANCAN'] = patient_df["PANCAN"][i]
    
    for j in range(len(procedure_grouped_df)):
        if(procedure_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Procedures_ICD_Features'] = procedure_grouped_df['ICD_FEATURES'][j]
            procedure_found+=1
            procedure_flag = 1
            
    for j in range(len(med_grouped_df)):
        if(med_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Medication_NDC_Features'] = med_grouped_df['NDC_FEATURES'][j]
            med_found+=1
            med_flag= 1
            
    for j in range(len(lab_grouped_df)):
        if(lab_grouped_df['SUBJECT_ID'][j]==subjid):
            encounter_dict[key]['Lab_Chart_Features'] = lab_grouped_df['CHART_FEATURES'][j]
            lab_found+=1
            lab_flag = 1
            
    if((procedure_flag+med_flag+lab_flag) < 2):
        deleted +=1
        del encounter_dict[key]

print(len(patient_df))
print(procedure_found, med_found, lab_found)
print(len(encounter_dict))

3197
2518 2982 3166
3004

In [42]:
mimic = pd.DataFrame(encounter_dict).T
print(len(mimic))
print(len(mimic.columns))
mimic['PATIENT_KEY'] = mimic.index
mimic = mimic[['PATIENT_KEY'] + [col for col in mimic.columns if col != 'PATIENT_KEY']]
mimic.reset_index(drop=True, inplace=True)
mimic.head()

3004
5

,PATIENT_KEY,GENDER,Procedures_ICD_Features,Medication_NDC_Features,Lab_Chart_Features,PANCAN
0,10002760,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
1,10005866,0,"[0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",0
2,10006029,0,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, ...",1
3,10006431,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1
4,10014234,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, ...",1

In [49]:
def concatenate_all(row):
    return [row['GENDER']] + list(row['Procedures_ICD_Features']) + list(row['Medication_NDC_Features']) + list(row['Lab_Chart_Features'])
mimic["EHR_Features"] = mimic.apply(concatenate_all, axis=1)
mimic.head()

,PATIENT_KEY,GENDER,Procedures_ICD_Features,Medication_NDC_Features,Lab_Chart_Features,PANCAN,EHR_Features
0,10002760,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10005866,0,"[0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",0,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
2,10006029,0,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, ...",1,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, ..."
3,10006431,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, ..."
4,10014234,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, ...",1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [50]:
mimic.to_csv("./processed/MIMIC_Final.csv")

In [51]:
mimic = pd.read_csv("./processed/MIMIC_Final.csv")
mimic.head()

,Unnamed: 0,PATIENT_KEY,GENDER,Procedures_ICD_Features,Medication_NDC_Features,Lab_Chart_Features,PANCAN,EHR_Features
0,0,10002760,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,10005866,0,"[0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",0,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
2,2,10006029,0,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, ...",1,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, ..."
3,3,10006431,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, ..."
4,4,10014234,0,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, ...",1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [53]:
for i in range(len(mimic)):
    if(len(mimic["EHR_Features"][i])!=2649):
        print(len(mimic["EHR_Features"][i]))